<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.2.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/webjars/font-awesome/6.2.0/css/fontawesome.min.css"
          th:href="@{/webjars/font-awesome/6.2.0/css/fontawesome.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="resources/css/styles.css"
          th:href="@{/resources/css/styles.css}"
          rel="stylesheet" media="screen" />

</head>

<body>
<!-- Header -->
<div th:replace="~{fragments/header :: header}"/>


<!-- About Section -->
<section id="about" class="container content-section hidden-xs">
    <div class="row">
        <div class="col-xs-9 col-xs-offset-2">
            <p class="h3 text-justify"> Welcome to Library</p>
        </div>

    </div>
</section>

    <footer>
        <div th:replace="~{fragments/footer :: footer}"/>
    </footer>

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.6.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
<script src="http://cdn.jsdelivr.net/webjars/bootstrap/5.2.3/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>

</body>
</html>