<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
          th:href="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>

<div style="padding-bottom: 30px" th:fragment="header">
<!-- Navbar -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="http://www.itexperts.sk" target="_blank">
                <i class="fa fa-chevron-circle-right"></i>  <span class="light">Library</span> Master
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="login.html">
                        <i class="glyphicon glyphicon-log-in"></i> Login
                    </a>
                </li>
                <li>
                    <a class="page-scroll" th:href="@{/book/all}">
                        <i class="glyphicon glyphicon-book"></i> Books
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<header class="bgimage img-rounded">
    <div class="container">
    </div>
</header>
</div>
</body>
</html>