<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.2.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/webjars/font-awesome/6.2.0/css/fontawesome.min.css"
          th:href="@{/webjars/font-awesome/6.2.0/css/fontawesome.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="resources/css/styles.css"
          th:href="@{/resources/css/styles.css}"
          rel="stylesheet" media="screen" />

</head><body>
<div th:fragment="footer">
    <div id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/IMacalak" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ivan.macalak" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/macalak" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
                <p>Copyright &copy; itExperts 2020   <a href="mailto:info@itexperts.sk">info@itexperts.sk</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>


