<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.2.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/webjars/font-awesome/6.2.0/css/fontawesome.min.css"
          th:href="@{/webjars/font-awesome/6.2.0/css/fontawesome.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="resources/css/styles.css"
          th:href="@{/resources/css/styles.css}"
          rel="stylesheet" media="screen" />

</head>

<body>

<div class="navbar" th:fragment="header">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        <a th:href="@{/book/all}"><i class="fa fa-fw fa-envelope"></i> Books</a>
        <a href="login.html"><i class="fa fa-fw fa-user"></i> Login</a>


<!--<header class="bgimage img-rounded">-->
<!--    <div class="container">-->
<!--    </div>-->
<!--</header>-->
</div>
</body>
</html>