<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.2.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/webjars/font-awesome/6.2.0/css/fontawesome.min.css"
          th:href="@{/webjars/font-awesome/6.2.0/css/fontawesome.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="resources/css/styles.css"
          th:href="@{/resources/css/styles.css}"
          rel="stylesheet" media="screen" />

</head>

<body>
    <div th:replace="~{fragments/header :: header}"/>
    <div class="container">
        <table class="table table-stripped" style="width:600px;">
            <tbody>
            <tr>
                <td>Title:</td>
                <td th:text="${book.title}"/>
            </tr>
            <tr>
                <td>Author:</td>
                <td th:text="${book.author}"/>
            </tr>
            <tr>
                <td>Publisher:</td>
                <td th:text="${book.publisher}"/>
            </tr>
            <tr>
                <td>Genre:</td>
                <td th:text="${book.genre}"/>
            </tr>
            <tr>
                <td>ISBN:</td>
                <td th:text="${book.isbn}"/>
            </tr>
            <tr>
                <td>Cat ID:</td>
                <td th:text="${book.catId}"/>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:substituteby="~{fragments/footer :: footer}"/>


</body>
</html>