<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.2.3/css/bootstrap.min.css"
		  th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"
		  rel="stylesheet" media="screen" />
	<link href="http://cdn.jsdelivr.net/webjars/font-awesome/6.2.0/css/fontawesome.min.css"
		  th:href="@{/webjars/font-awesome/6.2.0/css/fontawesome.min.css}"
		  rel="stylesheet" media="screen"/>
	<link href="resources/css/styles.css"
		  th:href="@{/resources/css/styles.css}"
		  rel="stylesheet" media="screen" />

</head>
<body>
    <div th:replace="~{fragments/header :: header}"/>
    
    <section class="container ">
    	<p class="h2" >Edit Book</p>
    </section>
    
    <section class="container">
		<div class="row">
            <div class="col-xs-9 col-xs-offset-2">
				<form class="form-horizontal" 
				      th:object="${book}"
        			  action="#"
				      method="post" role="form">
  					<div class="form-group">
  						<label class="control-label col-sm-2" for="title">Title:</label>
  						<div class="col-sm-10">
  							<input class="form-control" id="title" th:field="*{title}" placeholder="Enter book title"/>
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="control-label col-sm-2" for="author">Author:</label>
  						<div class="col-sm-10">
  							<input class="form-control" id="author" th:field="*{author}" placeholder="Enter book author"/>
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="control-label col-sm-2" for="publisher">Publisher:</label>
  						<div class="col-sm-10">
  							<input class="form-control" id="publisher" th:field="*{publisher}" placeholder="Enter book publisher"/>
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="control-label col-sm-2" for="catid">Cat ID:</label>
  						<div class="col-sm-10">
  							<input class="form-control" id="publisher" th:field="*{catId}" placeholder="Enter book cataloque ID"/>
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="control-label col-sm-2" for="isbn">ISBN:</label>
  						<div class="col-sm-10">
  							<input class="form-control" id="isbn" th:field="*{isbn}" placeholder="Enter book ISBN"/>
  							<span class="help-block">ISBN has format of 10 or 13 digits</span>
  						</div>
  					</div>
  					
  					<div class="form-group">
  						<label class="control-label col-sm-2" for="genre">Genre:</label>
  						<div class="col-sm-10">
	  						<select class="form-control" id="genre" th:field="*{genre}">
	  							<option th:each="t : ${genres}" th:text="${t}" th:value="${t}" >[option]</option>
	  						</select>
  						</div>
					</div>
					<div class="form-group"> 
    					<div class="col-sm-offset-2 col-sm-10">
  							<button type="submit" class="btn btn-default">Submit</button>
  						</div>
  					</div>
				</form>
			</div>
		</div>
	</section>

    <div th:substituteby="~{fragments/footer :: footer}"/>
	<script src="http://cdn.jsdelivr.net/webjars/jquery/3.6.1/jquery.min.js"
			th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
	<script src="http://cdn.jsdelivr.net/webjars/bootstrap/5.2.3/js/bootstrap.min.js"
			th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>

</body>
</html>